@font-face {
    font-family: "InterRegular";
    src: local("InterRegular"),
     url("../fonts/Inter/static/Inter-Regular.ttf") format("truetype");
    font-weight: normal;
    }

.footer{
    width: 100%;

    background-color: #f0efee;
    //font-family: tenor sans,sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #5b5a60;

    padding: 25px 0;
    margin: 0;

}

.conteiner_top{
    width: 100%;
    max-width: 1570px;
    margin: 0 auto 30px;
    padding: 42px 100px 0;
}

.conteiner_content{
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 20px;
    font-family: "InterRegular"
}

.logo{
    width: 100px;
    height: 100px;
     border-radius: 50px;
}

.info{
    max-width: 495px;

    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 24px;

    margin-bottom: 20px;
    font-family: "InterRegular"
}

.conteiner_contacts{
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    margin-top: 10px;
    padding-left: 4px;
    font-family: "InterRegular"

}

.conteiner_contacts a{
    text-decoration: none;
    list-style: none;
    font-family: "InterRegular"
}

.conteiner_socials{
    margin-left: 20px;
    display: flex;
    align-items: center;
}

.conteiner_socials a{

}

.conteiner_socials .link{
    text-decoration: none;
    color: rgba(91,90,96,.8);
    line-height: 1.9;
    //font-family: ;
}

.phone{
    font-weight: 400;
    font-size: 25px;
    line-height: 1.3;
    text-transform: uppercase;
    color: #5b5a60;
    font-family: "InterRegular"
}

/* .conteiner_contacts img{
    width: 40px;
    height: 40px;
} */
.conteiner_bottom{
    width: 100%;
    max-width: 1570px;
    margin: 0 auto;
    padding: 42px 100px 0;
}

/* .conteiner_bottom .link{
    text-decoration: none;
    color: rgba(91,90,96,.8);
    line-height: 1.9;
    //font-family: ;
} */

.cw{
    text-align: center;
}

@media(max-width: 376px){

    .conteiner_top{
        padding: 5px 5px;
        margin: 0;
    }

    .logo{
        display: none;
    }
    .info{
        text-align: center;
    }

    .conteiner_content{
        flex-direction: column;
        justify-content: center;
    }

    .info{
        font-size: 12px;
    }

    .phone{
        font-size: 20px;
    }

    .conteiner_socials > a >img{

    }

    .link h2{
        font-size: 12px;
    }

    .conteiner_contacts{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}


@media(max-width: 391px){

    .conteiner_top{
        padding: 5px 5px;
        margin: 0;
    }

    .logo{
        display: none;
    }
    .info{
        text-align: center;
    }

    .conteiner_content{
        flex-direction: column;
        justify-content: center;
    }

    .info{
        font-size: 12px;
    }

    .phone{
        font-size: 20px;
    }

    .conteiner_socials > a >img{

    }

    .link h2{
        font-size: 12px;
    }

    .conteiner_contacts{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}


@media(max-width: 430px){

    .conteiner_top{
        padding: 5px 5px;
        margin: 0;
    }

    .logo{
        display: none;
    }
    .info{
        text-align: center;
    }

    .conteiner_content{
        flex-direction: column;
        justify-content: center;
    }

    .info{
        font-size: 12px;
    }

    .phone{
        font-size: 20px;
    }

    .conteiner_socials > a >img{

    }

    .link h2{
        font-size: 12px;
    }

    .conteiner_contacts{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}